[core]
  pager = "{                                                           \
    COLUMNS=$(tput cols);                                            \
    if [ $COLUMNS -ge 200 ] && [ -z $FZF_PREVIEW_COLUMNS ]; then      \
        delta --side-by-side -w $COLUMNS;                            \
    elif [ $COLUMNS -ge 200 ] && [ ! -z $FZF_PREVIEW_COLUMNS ]; then \
        delta --side-by-side -w $FZF_PREVIEW_COLUMNS;                \
    else                                                             \
        delta;                                                       \
    fi                                                               \
    }"

[branch]
    sort = -committerdate
